In [1]:
import pandas as pd

In [17]:
test_data_lookup = pd.read_csv("test_data_set.csv")
test_metadata = pd.read_csv("test_movers_meta_data.csv")
# make last column of metadata the first column
metadata_columns = test_metadata.columns.tolist()
metadata_columns = metadata_columns[-1:] + metadata_columns[:-1]
test_metadata = test_metadata[metadata_columns]
test_metadata.rename(columns={"Name": "mover_id"}, inplace=True)

In [11]:
test_data_lookup_matching = test_data_lookup.copy()
test_data_lookup_matching["file_index"] = (
    test_data_lookup_matching["image"]
    .apply(lambda x: x.split("-")[-1].replace(".png", ""))
    .astype(int)
)
test_data_lookup_matching

       totas_id           image mover_id  label  file_index
0        504481  b0504481-1.png  TL28001      1           1
1        504481  b0504481-2.png  TL28001      1           2
2        504481  b0504481-4.png  TL28001      1           4
3        504481  b0504481-3.png  TL28001      1           3
4        504482  b0504482-1.png  OG21023      1           1
...         ...             ...      ...    ...         ...
50963    547442  b0547442-4.png  TO2C075      1           4
50964    547448  b0547448-4.png  TO2C076      1           4
50965    547448  b0547448-1.png  TO2C076      1           1
50966    547448  b0547448-2.png  TO2C076      1           2
50967    547448  b0547448-3.png  TO2C076      1           3

[50968 rows x 5 columns]

In [12]:
regex_match = {
    "A": 1,
    "B": 2,
    "C": 3,
    "D": 4,
}


def find_character_in_fit_file(fit_file: str):
    for key, value in regex_match.items():
        if key in fit_file:
            return value
    return None

In [18]:
test_metadata["FileName"] = test_metadata["FileName"].apply(find_character_in_fit_file)
test_metadata.rename(columns={"FileName": "file_index"}, inplace=True)
test_metadata

,mover_id,Link,file_index,ExposureBegin,ExposureTime,CcdTemperature,BackgroundMean,BackgroundSigma,RightAscension,Declination,...,FitOrder,OffsetRightAscension,OffsetDeclination,Offset,X,Y,Flux,RightAscension.1,Declination.1,Magnitude
0,TL28001,image.php?id=260546,4,2021-02-09 03:50:59,30,,1584.739014,55.196377,9.653175,11.649028,...,4,3.127741,-0.558347,3.177135,300.392192,684.308543,12935,9.658749,11.582133,16.768602
1,TL28001,image.php?id=260545,3,2021-02-09 03:34:09,30,,1552.176514,54.760712,9.653200,11.650068,...,4,3.149436,-0.495919,3.188195,293.485312,690.492596,12629,9.658958,11.580787,16.811176
2,TL28001,image.php?id=260544,2,2021-02-09 03:17:19,30,,1526.349243,54.398693,9.653512,11.649434,...,4,3.424358,-0.533969,3.465685,297.557301,692.313925,12984,9.659161,11.579464,16.747326
3,TL28001,image.php?id=260543,1,2021-02-09 03:00:29,30,,1513.110352,54.338047,9.653262,11.649729,...,4,3.204000,-0.516242,3.245274,280.156487,696.628927,13081,9.659367,11.578098,16.749987
4,OG21023,image.php?id=260546,4,2021-02-09 03:50:59,30,,1584.739014,55.196377,9.653175,11.649028,...,4,3.127741,-0.558347,3.177135,54.605476,207.266957,1607,9.665228,11.766496,19.032978
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50962,TO2C075,image.php?id=303841,1,2024-02-13 00:22:49,30,,1574.397095,54.713696,11.082777,23.238133,...,4,-11.962430,15.787961,19.815161,167.993717,571.775916,3820,11.092425,23.214129,17.949394
50963,TO2C076,image.php?id=303852,4,2024-02-13 01:13:57,30,,1441.180176,58.230804,11.139033,22.840876,...,4,10.999433,12.952570,16.998471,509.478424,150.317073,533,11.139154,22.980389,20.034643
50964,TO2C076,image.php?id=303851,3,2024-02-13 00:57:09,30,,1471.753662,58.802582,11.139070,22.842287,...,4,11.030497,13.037193,17.083150,505.007682,156.742638,781,11.139313,22.979272,19.694740
50965,TO2C076,image.php?id=303850,2,2024-02-13 00:40:19,30,,1515.930176,59.007259,11.139371,22.841838,...,4,11.280169,13.010271,17.225318,509.255183,158.296651,627,11.139497,22.978217,19.928152
50966,TO2C076,image.php?id=303849,1,2024-02-13 00:23:29,30,,1625.897095,59.541183,11.139412,22.843153,...,4,11.313753,13.089160,17.306986,504.303944,164.914153,431,11.139676,22.977000,20.149536

In [19]:
testset_with_metadata = test_data_lookup_matching.merge(
    test_metadata, on=["mover_id", "file_index"]
)
testset_with_metadata

,totas_id,image,mover_id,label,file_index,Link,ExposureBegin,ExposureTime,CcdTemperature,BackgroundMean,...,FitOrder,OffsetRightAscension,OffsetDeclination,Offset,X,Y,Flux,RightAscension.1,Declination.1,Magnitude
0,504481,b0504481-1.png,TL28001,1,1,image.php?id=260543,2021-02-09 03:00:29,30,,1513.110352,...,4,3.204000,-0.516242,3.245274,280.156487,696.628927,13081,9.659367,11.578098,16.749987
1,504481,b0504481-2.png,TL28001,1,2,image.php?id=260544,2021-02-09 03:17:19,30,,1526.349243,...,4,3.424358,-0.533969,3.465685,297.557301,692.313925,12984,9.659161,11.579464,16.747326
2,504481,b0504481-4.png,TL28001,1,4,image.php?id=260546,2021-02-09 03:50:59,30,,1584.739014,...,4,3.127741,-0.558347,3.177135,300.392192,684.308543,12935,9.658749,11.582133,16.768602
3,504481,b0504481-3.png,TL28001,1,3,image.php?id=260545,2021-02-09 03:34:09,30,,1552.176514,...,4,3.149436,-0.495919,3.188195,293.485312,690.492596,12629,9.658958,11.580787,16.811176
4,504482,b0504482-1.png,OG21023,1,1,image.php?id=260543,2021-02-09 03:00:29,30,,1513.110352,...,4,3.204000,-0.516242,3.245274,34.366181,204.232653,1715,9.665846,11.768376,18.955929
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50962,547442,b0547442-4.png,TO2C075,1,4,image.php?id=303844,2024-02-13 01:13:19,30,,1486.889648,...,4,-12.070899,15.650132,19.771620,176.210899,551.326491,4092,11.092064,23.219759,17.915482
50963,547448,b0547448-4.png,TO2C076,1,4,image.php?id=303852,2024-02-13 01:13:57,30,,1441.180176,...,4,10.999433,12.952570,16.998471,509.478424,150.317073,533,11.139154,22.980389,20.034643
50964,547448,b0547448-1.png,TO2C076,1,1,image.php?id=303849,2024-02-13 00:23:29,30,,1625.897095,...,4,11.313753,13.089160,17.306986,504.303944,164.914153,431,11.139676,22.977000,20.149536
50965,547448,b0547448-2.png,TO2C076,1,2,image.php?id=303850,2024-02-13 00:40:19,30,,1515.930176,...,4,11.280169,13.010271,17.225318,509.255183,158.296651,627,11.139497,22.978217,19.928152
50966,547448,b0547448-3.png,TO2C076,1,3,image.php?id=303851,2024-02-13 00:57:09,30,,1471.753662,...,4,11.030497,13.037193,17.083150,505.007682,156.742638,781,11.139313,22.979272,19.694740

In [21]:
testset_with_metadata.drop(columns=["Link", "file_index"], inplace=True)

In [23]:
testset_with_metadata.rename(
    columns={
        "image": "file_name",
    },
    inplace=True,
)

In [24]:
testset_with_metadata

,totas_id,file_name,mover_id,label,ExposureBegin,ExposureTime,CcdTemperature,BackgroundMean,BackgroundSigma,RightAscension,...,FitOrder,OffsetRightAscension,OffsetDeclination,Offset,X,Y,Flux,RightAscension.1,Declination.1,Magnitude
0,504481,b0504481-1.png,TL28001,1,2021-02-09 03:00:29,30,,1513.110352,54.338047,9.653262,...,4,3.204000,-0.516242,3.245274,280.156487,696.628927,13081,9.659367,11.578098,16.749987
1,504481,b0504481-2.png,TL28001,1,2021-02-09 03:17:19,30,,1526.349243,54.398693,9.653512,...,4,3.424358,-0.533969,3.465685,297.557301,692.313925,12984,9.659161,11.579464,16.747326
2,504481,b0504481-4.png,TL28001,1,2021-02-09 03:50:59,30,,1584.739014,55.196377,9.653175,...,4,3.127741,-0.558347,3.177135,300.392192,684.308543,12935,9.658749,11.582133,16.768602
3,504481,b0504481-3.png,TL28001,1,2021-02-09 03:34:09,30,,1552.176514,54.760712,9.653200,...,4,3.149436,-0.495919,3.188195,293.485312,690.492596,12629,9.658958,11.580787,16.811176
4,504482,b0504482-1.png,OG21023,1,2021-02-09 03:00:29,30,,1513.110352,54.338047,9.653262,...,4,3.204000,-0.516242,3.245274,34.366181,204.232653,1715,9.665846,11.768376,18.955929
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50962,547442,b0547442-4.png,TO2C075,1,2024-02-13 01:13:19,30,,1486.889648,53.126728,11.082646,...,4,-12.070899,15.650132,19.771620,176.210899,551.326491,4092,11.092064,23.219759,17.915482
50963,547448,b0547448-4.png,TO2C076,1,2024-02-13 01:13:57,30,,1441.180176,58.230804,11.139033,...,4,10.999433,12.952570,16.998471,509.478424,150.317073,533,11.139154,22.980389,20.034643
50964,547448,b0547448-1.png,TO2C076,1,2024-02-13 00:23:29,30,,1625.897095,59.541183,11.139412,...,4,11.313753,13.089160,17.306986,504.303944,164.914153,431,11.139676,22.977000,20.149536
50965,547448,b0547448-2.png,TO2C076,1,2024-02-13 00:40:19,30,,1515.930176,59.007259,11.139371,...,4,11.280169,13.010271,17.225318,509.255183,158.296651,627,11.139497,22.978217,19.928152
50966,547448,b0547448-3.png,TO2C076,1,2024-02-13 00:57:09,30,,1471.753662,58.802582,11.139070,...,4,11.030497,13.037193,17.083150,505.007682,156.742638,781,11.139313,22.979272,19.694740

In [25]:
testset_with_metadata.to_csv("test_data_set_with_metadata.csv", index=False)